@font-face {
  font-family: "Myriad Pro";
  font-weight: 400;
  src: url("../fonts/MYRIADPRO-REGULAR.woff2") format("woff2"),
    url("../fonts/MYRIADPRO-REGULAR.woff") format("woff");
}

@font-face {
  font-family: "Roboto Mono";
  font-weight: bold;
  src: url("../fonts/RobotoMono-Bold.woff2") format("woff2"),
    url("../fonts/RobotoMono-Bold.woff") format("woff");
}
