.middle-side {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	box-sizing: border-box;
	text-transform: uppercase;
	background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><line x1='100%' y1='0' x2='100%' y2='100%' stroke='rgb(81, 157, 199)' stroke-width='2' stroke-dasharray='1.029% 0.514%'/></svg>");

	&__wrapper {
		.flex(flex-start);
		width: 100%;
	}

	&__wrapper>span:first-child {
		display: block;
		width: 100%;
		font-family: "Myriad Pro Semibold SemiCondensed", Arial, sans-serif;
		font-size: 0.9375rem;
		padding-top: 1.0625rem;
		line-height: 1.125rem;
		color: #041C26;
	}

	&__date-wrap {
		padding-top: 2rem;
		width: 59.7%;
		.flex(flex-start);
	}

	&__date-wrap>div:first-child {
		width: 25%;
		.flex(flex-start);
		margin-right: auto;
	}

	&__date-wrap>div:nth-child(2) {
		margin-right: 1rem;
		width: 50%;
		.flex(flex-start);
		text-align: right;
	}

	&__issued {
		width: 7%;
		font-family: "Myriad Pro Semibold SemiCondensed", Arial, sans-serif;
		font-size: 0.625rem;
		vertical-align: top;
	}

	&__logo {
		width: 19%;
		height: auto;
		margin-right: auto;
		background: linear-gradient(0deg, #54A1CB, #54A1CB);
		border-radius: 3px;
	    align-self: flex-start;

	    svg {
	    	display: block;
	    }
	}

	&__date-of-issue, &__iso, &__issagt, &__place {
		.small-text;
	}

	&__iso {
		width: 100%;
	}

	&__at {
		margin-left: auto;
	}

	&__flight {
		width: 100%;
		.flex(flex-start);
	}

	&__flight>div:first-child {
		width: 34%;
		margin-right: auto;
		.flex(flex-start);
		align-content: flex-start;
		span {
			width: 100%;
		}
	}

	&__name {
		.small-text;
		padding-bottom: 1rem;
	}

	&__flight-details {
		padding-top: 0.5rem;
		width: 42%;
		.flex(flex-start);
		flex-direction: row;
		margin-right: 17.8%;
	}

	&__flight-details>div:first-child {
		width: 100%;
		.flex(space-between);
		padding-bottom: 0.5rem;
		align-content: flex-start;

		span {
			width: 50%;
		}
	}

	&__place, &__destination {
		text-align: right;
	}

	&__flight-details>div:nth-child(2) {
		width: 100%;
		.small-text;
		.flex(flex-start);
	}

	&__time {
		margin-left: auto;
	} 

	&__carrier, &__flight-number {
		width: 32%;
		margin-right: 1.125rem;
	}

	&__flight-details>div:nth-child(3) {
		width: 100%;
		.flex(flex-start);
	}

	&__flight-time {
		margin-left: auto;
	}

	&__class-number {
		display: block;
		width: 12%;
	}

	&__flight-date {
		width: 25%;
	}

	&__departure {
		width: 100%;
		.flex(flex-start);
		margin-top: auto;
		margin-bottom: 1rem;

		svg {
			width: 8%;
			height: auto;
			margin-right: 1.875rem;
		}
	}

	&__gate-wrap {
		width: 23%;
		.flex(flex-end);
		flex-direction: column;
		align-content: flex-end;
	}

	&__gate, &__boarding-time {
		font-size: 1.52rem;
	}

	&__gate-number, &__time-value {
		font-size: 2.9rem;
		line-height:1.174;
	}

	&__boarding-info {
		margin-right: auto;
		width: 30%;
		.flex(flex-end);
		flex-direction: column;
		align-content: flex-end;
	}

	&__code-info {
		width: 24%;
		margin-right: 1rem;
		.flex(flex-end);
		flex-direction: column;
		justify-content: space-between;
		align-content: flex-start;
		text-align: right;
	}

	&__wish {
		font-family: "Myriad Pro SemiCondensed", Arial, sans-serif;
	}

	&__warning {
		font-family: "Myriad Pro SemiCondensed", Arial, sans-serif;
		text-transform: none;
		font-size: 1rem;

		span {
			font-family: "Myriad Pro Semibold SemiCondensed", Arial, sans-serif;
		}
	}

	&__code {
		margin-top: 1rem;
		.small-text;
	}

	&__code-value {
		margin-bottom: auto;
	}

	&__ticket-number {
		line-height: 1.15;
	}
}




